/* body {
  font-family: sans-serif;

}

h1 {
  color: #000000;
  font-size: 24px;
}

form {

  margin: 0 auto;
  padding: 20px;

  border: 1px solid #000000;
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #a80c0c;
  border-radius: 5px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;

  margin-bottom: 10px;
}

button {
  margin: 0 auto;
  background-color: #a7f891;
  color: #000000;
  font-size: 20px;
  border: 2px solid #a7f891;
  border-radius: 5px;
  cursor: pointer;
}

#btn {
  background-color: #02783f;
  font-size: 20px;
  color:aliceblue;
  border-radius: 5px;
  cursor:pointer;
} */